<div>
    <h2>Wiki Hub</h2>
    <hr />
    <div ng-if="!(model.loading)">
        <div ng-if="model.categories.length > 0" ng-repeat="category in model.categories">
            <wiki-category category="category" wiki-link="/Wiki/{{wiki.id}}"></wiki-category>
            <hr ng-if="$index < (model.categories.length - 1)" />
        </div>
        <div ng-if="!(model.categories.length > 0)">
            <h3 ng-bind="model.emptyMessage" class="text-danger"></h3>
        </div>
    </div>
    <div ng-if="model.loading" class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar">
            Loading Wikis...
        </div>
    </div>
</div>