<div>
    <h2 ng-if="!(project.id > 0)">Add Project</h2>
    <h2 ng-if="project.id > 0">Manage Project</h2>
    <hr />
    <div class="btn-group">
        <button class="btn btn-success" ng-click="saveProject()">Save Project</button>
        <button class="btn btn-danger" ng-click="deleteProject()" ng-if="project.id > 0">Delete Project</button>
    </div>
    <hr />
    <div class="input-group">
        <div class="input-group-addon">Name</div>
        <input class="form-control" ng-model="project.name" />
    </div>
    <h3>Description</h3>
    <textarea class="form-control" ng-model="project.description" rows="20"></textarea>
</div>